@page "/"

<PageTitle>Todo</PageTitle>

<header>
    <h1>Todo</h1>
    @{
        int todoCount = @todo.Count(x => !x.IsDone);
    }
    <p>
        You have <span>
            @(@todoCount.Equals(0) ? "Nothing" : @todoCount.ToString() + " thing" + (@todoCount.Equals(1) ? "" : "s"))
        </span> to do
    </p>
</header>

<section>
    @foreach (var item in todo)
    {
        <article>
            <div>
                <label>
                    Done
                    <input type="checkbox" @bind="item.IsDone" />
                </label>
            </div>
            <h2>@item.Title</h2>
            <p>@item.Description</p>
        </article>
    }
</section>

<form @onsubmit="AddTodoItem" @onsubmit:preventDefault>
    <input placeholder="Title" @bind="newTodoTitle" />
    <input placeholder="Description" @bind="newTodoDescription" />
    <button type="submit" @onclick="AddTodoItem">Add</button>
</form>

@code {
    private List<TodoItem> todo = new();
    private string? newTodoTitle;
    private string? newTodoDescription;

    private void AddTodoItem()
    {
        if (!string.IsNullOrWhiteSpace(newTodoTitle))
        {
            todo.Add(new TodoItem
                {
                    Title = newTodoTitle,
                    Description = newTodoDescription
                });
            newTodoTitle = string.Empty;
            newTodoDescription = string.Empty;
        }
    }
}
